<nav class="navbar navbar-expand-lg navbar-dark fixed-top qls-primary no-padding-sides" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2 col-lg-1">
        <a class="navbar-brand" href="#">
          <img src="../../assets/img/logo_nav.png" alt="Quick LearnSystems">
        </a>
      </div>
      <div class="col-xs-6 col-sm-8 col-md-auto col-lg-auto nav-buttotns-container">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" mat-button>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" mat-button [matMenuTriggerFor]="about">About</a>
              <mat-menu #about="matMenu">
                <a mat-menu-item>Mission /Vision</a>
              </mat-menu>
            </li>
            <li class="nav-item">
              <a class="nav-link" mat-button [matMenuTriggerFor]="courses">Classroom Courses</a>
              <!-- Set 1 -->
              <mat-menu #courses="matMenu">
                <a mat-menu-item [matMenuTriggerFor]="SM">Service Management</a>
                <a mat-menu-item [matMenuTriggerFor]="PMP">Project &amp; Program Management</a>
                <a mat-menu-item [matMenuTriggerFor]="QM">Quality Management</a>
                <a mat-menu-item [matMenuTriggerFor]="ITGA">IT Governance &amp; Architecture</a>
              </mat-menu>
              <!-- ***** -->

              <!-- Set 2 -->
              <mat-menu #SM="matMenu">
                <a mat-menu-item>ITIL Foundation</a>
                <a mat-menu-item [matMenuTriggerFor]="ITILInter">ITIL Intermediate</a>
                <a mat-menu-item [matMenuTriggerFor]="ITILExp">ITIL Expert</a>
                <a mat-menu-item>SIAM Foundation</a>
              </mat-menu>

              <mat-menu #PMP="matMenu">
                <a mat-menu-item>CAPM</a>
                <a mat-menu-item>PMP</a>
                <a mat-menu-item>ACP</a>
                <a mat-menu-item>Prince2 Foundation</a>
                <a mat-menu-item>Prince2 Practitioner</a>
                <a mat-menu-item>PRINCE2 Agile Practitioner</a>
                <a mat-menu-item>Certified Scrum Master</a>
                <a mat-menu-item>Certified Scrum Product Owner (CSPO)</a>
                <a mat-menu-item>Managing Successful Programs</a>
                <a mat-menu-item>SAFe 4.5 (SAFe Agilist)</a>
                <a mat-menu-item>DevOps Master</a>
              </mat-menu>

              <mat-menu #QM="matMenu">
                <a mat-menu-item>Lean Six Sigma Green Belt</a>
                <a mat-menu-item>Lean Six Sigma Black Belt</a>
              </mat-menu>

              <mat-menu #ITGA="matMenu">
                <a mat-menu-item>COBIT 5 Foundation</a>
                <a mat-menu-item>TOGAF 9.1 Level 1 &amp; Level 2</a>
              </mat-menu>
              <!-- ** -->

              <!-- Set 3 -->
              <mat-menu #ITILInter="matMenu">
                <a mat-menu-item [matMenuTriggerFor]="ITILLM">ITIL Lifecycle Modules</a>
                <a mat-menu-item [matMenuTriggerFor]="ITILCM">ITIL Capability Module</a>
              </mat-menu>
              <mat-menu #ITILExp="matMenu">
                <a mat-menu-item>ITIL ® Managing Across The Lifecycle</a>
              </mat-menu>
              <!-- ** -->

              <!-- Set 4 -->
              <mat-menu #ITILLM="matMenu">
                <a mat-menu-item>ITIL Service Strategy</a>
                <a mat-menu-item>ITIL Service Design</a>
                <a mat-menu-item>ITIL Service Transition</a>
                <a mat-menu-item>ITIL Service Operation</a>
                <a mat-menu-item>ITIL Continual Service Improvement</a>
              </mat-menu>

              <mat-menu #ITILCM="matMenu">
                <a mat-menu-item>ITIL Service, Offering and Agreement (SOA)</a>
                <a mat-menu-item>ITIL Planning, Protection and Optimization (PPO)</a>
                <a mat-menu-item>ITIL Release, Control and Validation (RCV)</a>
                <a mat-menu-item>ITIL Operational, Support and Analysis (OSA)</a>
              </mat-menu>
              <!-- ** -->
            </li>
            <li class="nav-item">
              <a class="nav-link" mat-button>Upcoming events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" mat-button>Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" mat-button>Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" mat-button (click)="openBottomSheet()">Test Buttons</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="container-fluid text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <div class="container-fluid text-left" style="font-size:small">
          <h3>Popular Courses</h3>
          <ul class="popular-courses">
            <li>
              <a ui-sref="app.itil_foundation">ITIL Foundation</a>
            </li>
            <li>
              <a ui-sref="app.pmp">PMP</a>
            </li>
            <li>
              <a ui-sref="app.prince2foundation">Prince2</a>
            </li>
            <li>
              <a ui-sref="app.dev_ops">DevOps Master</a>
            </li>
            <li>
              <a ui-sref="app.scrum">Certified Scrum Master</a>
            </li>
            <li>
              <a ui-sref="app.safe">Safe Agile</a>
            </li>
            <li>
              <a ui-sref="app.green_belt">Lean Six Sigma Green Belt</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <h3 class="text-center">Finds us on</h3>
        <ul class="social-network social-circle">
          <li>
            <a href="https://www.facebook.com/QuickLearn-Systems-860154054085242" class="icoFacebook" title="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/quicklearnsys" class="icoTwitter" title="Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/109738846000587914274" class="icoGoogle" title="Google +">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a href="https://in.linkedin.com/in/quicklearn-systems-1494ba12a" class="icoLinkedin" title="Linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
        <h3 class="text-center">Payment Options</h3>
        <small>We accept Payment by Cash, Cheque,
          <br/>Online Fund Transfer and Credit Cards</small>
        <br/>
        <ul class="social-network social-circle">
          <li>
            <a href="#" class="icoTwitter" title="Visa">
              <i class="fa fa-cc-visa"></i>
            </a>
          </li>
          <li>
            <a href="#" class="icoTwitter" title="Master Card">
              <i class="	fa fa-cc-mastercard"></i>
            </a>
          </li>
          <li>
            <a href="#" class="icoTwitter" title="Google Wallet">
              <i class="fa fa-google-wallet"></i>
            </a>
          </li>
          <li>
            <a href="#" class="icoTwitter" title="PayPal">
              <i class="fa fa-paypal"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h3 class="text-left">Company</h3>
        <ul class="footer-company">
          <li>
            <a ui-sref="app.about">About Us</a>
          </li>
          <li>
            <a ui-sref="app.home">Courses</a>
          </li>
          <li>
            <a ui-sref="app.upcoming_events">Upcoming Events</a>
          </li>
          <li>
            <a ui-sref="app.contact">Contact Us</a>
          </li>
          <li>
            <a ui-sref="app.terms">Term and conditions</a>
          </li>
          <li>
            <a ui-sref="app.privacy">Privacy Policy</a>
          </li>
          <li>
            <a ui-sref="app.accreditations">Accreditation</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          <mat-card-title>
            <h3>Quick Enquiry</h3>
          </mat-card-title>
          <mat-divider></mat-divider>
          <form class="quick-enquiry">
            <mat-form-field class="full-width">
              <input matInput placeholder="Full Name">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Your Message"></textarea>
            </mat-form-field>
            <button mat-raised-button color="accent" class="btn-block">Submit</button>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
  <br>
  <div class="container-fluid footer-band">
    <div class="col-lg-12">
      <h6>&copy; 2018-2019 - QuickLearn Systems. All Rights Reserved. The certification names are the trademarks of their respective
        owners.
      </h6>
    </div>
  </div>
</footer>
