<div class="enquiry-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <h3 class="text-center">
    <strong>Let's Talk!</strong>
  </h3>
  <hr>
  <form>
    <mat-form-field>
      <input matInput type="text" placeholder="Full Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" placeholder="Email Address">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="tel" placeholder="Mobile Number">
    </mat-form-field>
    <mat-form-field>
      <mat-select [(value)]="selected" placeholder="Select a course">
        <mat-option *ngFor="let course of courses" value="{{course}}">{{course}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="Your Remarks"></textarea>
      </mat-form-field>
    <button mat-raised-button color="accent" class="btn-block">Send Message <mat-icon>send</mat-icon></button>
  </form>
  <br>
</div>
