/* You can add global styles to this file, and also import other style files */

@import './app/utils/images';
$qls-colors:( "base": rgb(44, 62, 80), "cyan": #36cde8, "hover": #18bc9c);
$qls-colors-arr:( 'qls-primary': map-get($qls-colors, 'base'), 'qls-cyan': map-get($qls-colors, 'cyan'), 'qls-hover': map-get($qls-colors, 'hover'));
@each $key,
$value in $qls-colors-arr {
  .#{$key} {
    background-color: $value !important;
  }
  .#{$key}-text {
    color: $value !important;
  }
  .#{$key}-border {
    border-color: $value !important;
  }
  button {
    outline: none !important;
  }
  input[type=text].#{$key}-input {
    &:focus {
      border: 1px solid $value !important;
      border-bottom: 1px solid $value !important;
      -webkit-box-shadow: 0 1px 0 0 $value !important;
      box-shadow: 0 1px 0 0 $value !important;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif !important;
}
body{
  color: #2c3e50;
}
.no-padding {
  padding: 0px !important;
}

.no-padding-sides {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.row {
  width: inherit;
}

.container-event-slider {
  .carousel-indicators {
    display: none !important;
  }
  .carousel-inner {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border: 5px solid #2e3f52;
  }
  .carousel-item {
    height: 500px;
    .view {
      height: 500px;
    }
  }
}

.mat-progress-bar-buffer {
  background-color: #EEEEEE !important;
}

.mat-bottom-sheet-container {
  max-width: 560px !important;
}

.container-page-header {
  width: 100%;
  height: 370px;
  background-image: $header_bg;
  background-size: 100% auto;
}
.content-container{
  background-color: white;
  padding: 0px;
  box-shadow: 0px -25px 40px 0px rgba(0, 0, 0, 0.12);
  font-size: 16px;
  padding-top: 25px;
  color: #4d4d4d;
}
.content-container  h2{
  font-size: 25px;
  line-height: 48px;
  font-weight: 600;
}
.content-container  p{
  font-size: 18px;
  line-height: 28px;
  color: #4d4d4d;
  letter-spacing: 0px;
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-container  table th {
  background-color: #263944;
  color: #fff;
}
.content-container  table tr td{
  border: 1px solid #c5d5e4;
}
.content-container  table tr:nth-child(even){
  background-color: #ecf0f1;
}

.jumbotron h1 {
  font-family: 'Raleway', sans-serif;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 23px;
  font-weight: 200;
}
@media screen and (min-width: 768px)
{
.jumbotron h1, .jumbotron .h1 {
    font-size: 68px;
}
}