<nav class="navbar navbar-expand-lg navbar-dark fixed-top qls-primary no-padding-sides" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2 col-lg-1">
        <a class="navbar-brand" href="#">
          <img src="../../assets/img/logo_nav.png" alt="Quick LearnSystems">
        </a>
      </div>
      <div class="col-xs-6 col-sm-8 col-md-auto col-lg-auto">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" aria-expanded="false">
                About
                <i class="fa fa-caret-down" aria-label="hidden"></i>
              </a>
              <ul class="dropdown-menu dropdown-intial" style="width: 150px;">
                <li>
                  <a>Mission /Vision</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" aria-expanded="false">Classroom Courses
                <i class="fa fa-caret-down" aria-label="hidden"></i>
              </a>
              <ul class="dropdown-menu dropdown-intial">
                <li class="dropdown-submenu">
                  <a>Service Management</a>
                  <ul class="dropdown-menu dropdown-intial">
                    <li>
                      <a>ITIL Foundation</a>
                    </li>
                    <li class="dropdown-submenu">
                      <a>ITIL Intermediate</a>
                      <ul class="dropdown-menu dropdown-intial">
                        <li class="dropdown-submenu">
                          <a>ITIL Lifecycle Modules</a>
                          <ul class="dropdown-menu dropdown-intial">
                            <li>
                              <a>ITIL Service Strategy</a>
                            </li>
                            <li>
                              <a>ITIL Service Design</a>
                            </li>
                            <li>
                              <a>ITIL Service Transition</a>
                            </li>
                            <li>
                              <a>ITIL Service Operation</a>
                            </li>
                            <li>
                              <a>ITIL Continual Service Improvement</a>
                            </li>
                          </ul>
                        </li>
                        <li class="dropdown-submenu">
                          <a>ITIL Capability Module</a>
                          <ul class="dropdown-menu dropdown-intial">
                            <li>
                              <a>ITIL Service, Offering and Agreement (SOA)</a>
                            </li>
                            <li>
                              <a>ITIL Planning, Protection and Optimization (PPO)</a>
                            </li>
                            <li>
                              <a>ITIL Release, Control and Validation (RCV)</a>
                            </li>
                            <li>
                              <a>ITIL Operational, Support and Analysis (OSA)</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu">
                      <a>ITIL Expert</a>
                      <ul class="dropdown-menu dropdown-intial">
                        <li>
                          <a>ITIL
                            <sup>&reg;</sup> Managing Across The Lifecycle</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a>SIAM Foundation</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a>Project &amp; Program Management</a>
                  <ul class="dropdown-menu dropdown-intial">
                    <li>
                      <a>CAPM</a>
                    </li>
                    <li>
                      <a>PMP</a>
                    </li>
                    <li>
                      <a>ACP</a>
                    </li>
                    <li>
                      <a>Prince2 Foundation</a>
                    </li>
                    <li>
                      <a>Prince2 Practitioner</a>
                    </li>
                    <li>
                      <a>PRINCE2 Agile Practitioner</a>
                    </li>
                    <li>
                      <a>Certified Scrum Master</a>
                    </li>
                    <li>
                      <a>Certified Scrum Product Owner (CSPO)</a>
                    </li>
                    <li>
                      <a>Managing Successful Programs</a>
                    </li>
                    <li>
                      <a>SAFe 4.5 (SAFe Agilist)</a>
                    </li>
                    <li>
                      <a>DevOps Master</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a>Quality Management</a>
                  <ul class="dropdown-menu dropdown-intial">
                    <li>
                      <a>Lean Six Sigma Green Belt</a>
                    </li>
                    <li>
                      <a>Lean Six Sigma Black Belt</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a>IT Governance &amp; Architecture</a>
                  <ul class="dropdown-menu dropdown-intial">
                    <li>
                      <a>COBIT 5 Foundation</a>
                    </li>
                    <li>
                      <a>TOGAF 9.1 Level 1 &amp; Level 2</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link">Upcoming Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Services
                <i class="fa caret-down" aria-label="hidden" style="color:white;"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>